.tooltip {
    position: relative;
    display: inline-block;
}

.tooltipContent {
    visibility: hidden;
    background-color: var(--color-lightish);
    color: var(--color-darkish);
    text-align: center;
    border-radius: 10px;
    border: var(--color-bluegrey) solid;
    padding: 10px;
    position: fixed;
    /* Make the tooltip fixed */
    z-index: 1000;
    /* Ensure the tooltip appears on top of other content */
    opacity: 0;
    transition: opacity 0.3s;
    max-width: 220px;
    margin-left: -100px;
}

.tooltip:hover .tooltipContent {
    visibility: visible;
    opacity: 1;
}