    .fundamentals {
        background-color: var( --color-darkgrey);
        height: 100%;
    }
    
    .linkstyle {
        color: var(--color-dark)
    }
    
    .topbanner {
        padding: 0;
        height: 80px;
        /* background-color: var(--color-uppermiddle);
            border-bottom: solid 2px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
    }
    
    .logocontainer {
        width: 100%;
        position: relative;
    }
    
    .logodesign {
        position: absolute;
        top: 0;
        bottom: 10;
        left: 0;
        right: 0;
        margin: auto;
        width: 300px;
        height: auto;
        background-color: var(--color-bluegrey);
        padding: 4px;
        border: solid 1px var(--color-dark);
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    
    .navcontainer {
        display: flex;
        height: 20px;
        justify-content: center;
        /* background-color: var(--color-bluegrey); */
        margin-top: 25px;
        width: 100%;
    }
    
    .navitem {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
    }
    
    .navitem div {
        display: flex;
        justify-content: center;
        background-color: var(--color-bluegrey);
        color: var(--color-dark);
        font-family: 'Special Elite', 'Courier New', Courier, monospace;
        border-radius: 5px;
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2);
        padding: 3px 0 0 0;
        width: 100px;
    }
    
    .navitem a {
        text-decoration: none !important;
    }
    
    .navitem a:hover {
        text-decoration: none !important;
    }
    
    .navitem div:hover,
    .navitem div:active {
        color: var(--color-light);
        box-shadow: none;
    }
    
    @media only screen and (min-device-width: 200px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) {
        .logocontainer {
            width: 98%;
            margin-left: 2%;
            position: relative;
        }
        .navcontainer {
            width: 98%;
            margin-left: 2%;
        }
        .navitem div {
            width: 60px;
        }
        .fundamentals {}
    }