.audioplayer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
}

.audio {
    border: solid 3px var(--color-bluegrey);
    border-radius: 30px;
    /* added this line */
    padding: 2rem;
    background-color: var(--color-dark);
    min-width: 880px;
    max-width: 880px;
    box-shadow: 10px 10px 20px 4px rgba(0, 0, 0, 0.2);
    background: var(--color-uppermiddle);
}

.subroutinebomb {
    margin-top: -6px;
    width: 220px;
    height: auto;
    margin-left: 32px;
}

.songlistcol {
    order: 1;
    min-width: 220px;
    max-width: 400px;
    margin-top: -15px;
}

.songlistheader {
    height: 45px;
    position: relative;
    color: var(--color-bluegrey);
}

.songlistheaderinner {
    font-size: large;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    /* right: 0; */
}

.songlist {
    padding-top: 10px;
    border-top: dotted 1px var(--color-light);
    overflow-y: auto;
    max-height: 240px;
    /* You can adjust this value according to your needs */
}

.songListItem span {
    cursor: pointer;
    color: var(--color-bluegrey);
    opacity: 0.7;
}

.songListItemSelected span {
    cursor: pointer;
    color: var(--color-light);
}

.songListItem:hover {
    border: solid 1px;
}

.playercol {
    order: 2;
    padding: 35px 20px 0 20px;
    min-width: 330px;
    width: 400px;
    background: var(--color-dark);
    border-radius: 7px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), /* Bottom right shadow */
    -3px -3px 10px rgba(255, 255, 255, 1), /* Top left shadow */
    -3px 3px 10px rgba(0, 0, 0, 0.5), /* Bottom left shadow */
    3px -3px 10px rgba(255, 255, 255, 0.5);
    /* Top right shadow */
}

.imagecol {
    order: 3;
    display: block;
}

.audio .songimage {
    width: 230px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    border: solid 1px var(--color-light);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(218, 145, 0, 0.5);
}

.playertop {
    display: inline-flex;
    width: 100%;
}

.playerheader {
    display: flex;
    align-items: center;
    margin-bottom: -5px;
    width: 100%;
    justify-content: center;
}

.controlbtns {
    margin-top: 14px;
    color: var(--color-bluegrey);
}

.controlbtns .playbtn svg,
.controlbtns .pausebtn svg {
    width: 24px;
    height: 24px;
}

.circleplay {
    color: var(--color-bluegrey);
    height: 12px;
    margin-bottom: 2px;
}

.controlbtns .pausebtn {
    color: var(--color-dustyorange);
}

.displaytext {
    font-size: 30px;
    font-family: 'Moirai One', 'Courier New', Courier, monospace;
    color: var(--color-light);
    margin-left: -10px;
}

.progressBar progress {
    display: flex;
    align-items: center;
    margin-bottom: -5px;
    width: 100%;
    justify-content: center;
    min-width: 280px;
    color: var(--color-uppermiddle);
}

.ffrewind {
    position: relative;
    width: 280px;
    margin: 8px 0 0 5px;
}

.rewindbtn,
.fastForwardbtn {
    position: absolute;
    z-index: 10;
    color: var(--color-light);
    cursor: pointer;
}

.rewindbtn {
    left: 0;
    margin-top: -10px;
}

.fastForwardbtn {
    right: 0;
    margin-top: -10px;
}

.spotifylink {
    color: var(--color-light);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotifylink em {
    text-decoration: underline;
}

.infoButton {
    background: none;
    /* Remove default button background */
    border: none;
    /* Remove default button border */
    cursor: pointer;
    /* Show pointer cursor when hovering over the button */
    outline: none;
    /* Remove focus outline */
    color: white;
    /* Make the icon color inherit from its parent */
}

.infoButton:hover,
.infoButton:focus {
    color: red;
    background: none;
    /* Remove default button background */
    border: none;
    /* Remove default button border */
    cursor: pointer;
    /* Show pointer cursor when hovering over the button */
    outline: none;
    /* Remove focus outline */
    color: white;
}

.infoButton:active {
    color: your_active_color;
}

@media only screen and (min-device-width: 200px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 2) {
    .audioplayer_container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    .audio {
        min-width: 360px;
        max-width: 360px;
    }
    .subroutinebomb {
        width: 140px;
        margin-left: 20%;
    }
    .songlistcol {
        order: 2;
        min-width: 220px;
        max-width: 220px;
    }
    .songlistheaderinner {
        font-size: medium;
    }
    .playercol {
        order: 1;
        height: 200px;
        margin-left: -20px;
        margin-bottom: 20px;
    }
    .imagecol {
        order: 3;
    }
    .audio .songimage {
        width: 280px;
    }
    .controlbtns {
        margin-top: 5px;
        width: 20px;
        margin-right: 5px;
    }
    .playerheader {}
    .displaytext {
        margin-bottom: 5px;
        font-size: 22px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    .progressBar progress {
        min-width: 270px;
    }
    .ffrewind {
        position: relative;
        width: 270px;
    }
    .spotifylink {
        font-size: 14px;
    }
}