:root {
    --color-dark: black;
    --color-wornleather: #8B6B55;
    --color-darkish: #1B1D21;
    /* Black */
    --color-light: #F2F2F2;
    --color-lightish: #BDB76B;
    /* Desert Sand */
    --color-rustyred: #D64A45;
    /* Rusty Red */
    --color-uppermiddle: #7BA273;
    /* Muted Green:*/
    --color-bluegrey: #4A6D8C;
    /* Steel Blue*/
    --color-dustyorange: #F8966E;
    --color-desertsand: #EFCB68;
    /* Copper */
    --color-darkgrey: #595D5F;
    /* Slate Gray:*/
    --color-wornleather: #8B6B55;
    --color-fadedplumb: #6A5160;
    height: 100vh;
    background-color: var( --color-fadedplumb);
}

@font-face {
    font-family: 'Special Elite';
    src: url('/fonts/SpecialElite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moirai One';
    src: url('/fonts/MoiraiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* 
@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */