:root {
    --color-dark: #000000;
    /* Black */
    --color-light: #BDB76B;
    /* Desert Sand */
    --color-uppermiddle: #002147;
    /* Army Green */
    --color-bluegrey: #6A994E;
    /* Slate Gray */
    --color-dustyorange: #CB4154;
    /* Copper */
    --color-darkgrey: #35281E;
    height: 100vh;
    background-color: var( --color-darkgrey);
}

@font-face {
    font-family: 'Special Elite';
    src: url('/fonts/SpecialElite-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moirai One';
    src: url('/fonts/MoiraiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* 
@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */